body{

    background-color: rgb(204, 135, 71);
    line-height: 1.4em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    
    }
    h1{font-size: 2rem;
        line-height: 1.3rem; /* espaciado entre las lineas del texto*/ 
        }
         p{
             margin-bottom: 1.6em;
            }

            .contenedor{
                width: 75%;
                max-width: 850;/*sera el maximo ancho que tendra los contenedores*/
                margin: 0 auto;

}
